    <article id="main">
    <header>
        <h2>Faq</h2>
        <p>Здесь вы найдете ответы на самые часто задаваемы вопросы</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h3>О компании</h3>
            <p>
                Steepsales — это глобальная платформа для модной индустрии. Наша цель — объединить на одной площадке кроссовки от самых популярных брендов. Ибрагимов Руслан основал компанию в 200 году и запустил онлайн-платформу для продаж чуть позже. Steepsales — это уникальные возможности для шопинга и самая большая подборка ведущих брендов на одной платформе.
            </p>
            <h3>Доставка</h3>
            <p>
                Доставка осуществляется с понедельника по пятницу, с 9:00 до 18:00. Клиентам из России мы предлагаем и экспресс-доставку. Доставка в страны СНГ выполняется в стандартном режиме. Стоимость доставки зависит от ее типа, а также адреса доставки. Доставка будет бесплатной, если сумма заказа составит не менее 22 000 рублей, 370 евро или 430 долларов США соответственно. Экспресс-доставка занимает 2-4 рабочих дня. Стандартная— 3-7 рабочих дней.
            </p>
            <h3>Отмена заказа</h3>
            <p>
                Передумали насчет покупки? Ничего страшного. Заказ можно отменить если он еще не был отправлен. Просто позвоните по номеру +79990002211 или напишите нам на почту: companyadress@mail.com.
            </p>
        </div>
    </section>
</article>