<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
            <h2>
                Самые новые модели из всех коллекций<br />
            </h2>
            <p>Модели:Nike Air Max,Adidas ZX,Puma X-RAY и многое другое!</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
            <h2>
                Только официальная продукция!<br />
            </h2>
            <p>Мы гарантируем вам, что купленный у нас товар оригинальный.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
            <h2>
                Для любого вида деятельности<br />
            </h2>
            <p>В нашем магазине вы сможете легко подобрать нужный вам товар.
                Бег? Поход? Просто прогулка по городу? Просто загляни в описание товара и сделай свой выбор.</p>
        </div>
    </section>
</section>

<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Сделай выбор уже сейчас</h2>
        </header>
        <ul class="actions stacked">
            <li><a asp-controller="Shop" asp-action="Catalog" class="button fit primary">В магазин</a></li>
        </ul>
    </div>
</section>