@using Steepsales.Models.EntityFramework
@model IEnumerable<ProductItem>

<article id="main">
    <header>
        <h2>Магазин</h2>
        <p>Каталог товаров</p>
    </header>
    <section class="wrapper style5">
        <div style="margin-left:25px">
            <ul class="actions fit">
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="1" />
                        <input type="submit" class="button primary fit" value="Nike" />
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="2" />
                        <input type="submit" class="button primary fit" value="Adidas" />
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="3" />
                        <input type="submit" class="button primary fit" value="Puma" />
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="4" />
                        <input type="submit" class="button primary fit" value="Повседневные" />
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="5" />
                        <input type="submit" class="button primary fit" value="Для фитнеса" />
                    </form>
                </li>
                <li>
                    <form method="post" asp-controller="Shop" asp-action="Select">
                        <input type="hidden" name="param" value="6" />
                        <input type="submit" class="button primary fit" value="Беговые" />
                    </form>
                </li>
            </ul>
        </div>
        <div style="margin-left:150px;">
            <div class="row mt-5" style="text-align:center">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <a asp-area="" asp-controller="Shop" asp-action="Catalog" asp-route-id="@item.Id">
                                <img src="~/images/@item.TitleImage" alt="" height=500 width=500 />
                            </a>
                            <h4>@item.Firm @item.Name</h4>
                            <p>@item.Price.ToString("c")</p>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</article>