@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Steepsales.Models.EntityFramework
@model IQueryable<ProductItem>
<div>
    <h2 style="text-align:center">Панель администратора</h2>
    <div>
        <h3 style="text-align:center">Товары</h3>
        <div class="div-box" style="text-align:center">
            <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="" class="button primary">Добавить товар</a>
        </div>
        @if (Model.Any())
        {
            <div style="text-align:center">
                @foreach (ProductItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Product" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить товар</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Shop" asp-action="Catalog" asp-route-id="@entity.Id">
                            @($"{entity.Name}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-box" style="text-align:right">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input  type="submit" value="Выйти" />
        </form>
    </div>
</div>