@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Steepsales.Models.EntityFramework
@model IQueryable<ProductItem>
<div>
    <h2 style="text-align:center">Панель администратора</h2>
    <div>
        <h3 style="text-align:center">Товары</h3>
        <div class="div-box" style="text-align:center">
            <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="" class="button primary">Добавить товар</a>
        </div>
        @if (Model.Any())
        {
            <div class="inner" style="text-align:center">
                <ul class="features">
                    @foreach (ProductItem item in Model)
                    {
                        <li style="text-align:center">
                            <img src="~/images/@item.TitleImage" height=250 width=250 />
                            <div style="text-align:center">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                            </div>
                            <div style="text-align:center">
                            <form style="display: inline-block;" id="form-@item.Id" asp-area="Admin" asp-controller="Product" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@item.Id">
                                <a href="#" onclick="document.getElementById('form-@item.Id').submit();">Удалить товар</a>
                            </form>
                            </div>
                            <div style="text-align:center">
                            <a asp-area="" asp-controller="Shop" asp-action="Catalog" asp-route-id="@item.Id">
                                @($"{item.Name}")
                            </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="div-box" style="text-align:right">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>