@model Steepsales.Areas.Admin.LoginViewModel
@{ 
    Layout = null;
}
<head>
	<title>Авторизация</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@await Html.PartialAsync("CssLoginPartial")
</head>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
		 <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl" class="login100-form validate-form flex-sb flex-w">
            <div asp-validation-summary="All"></div>
			<span class="login100-form-title p-b-51">Авторизация</span>
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Введите логин">
                <input asp-for="UserName" class="input100" type="text"/>
                <span asp-validation-for="UserName" class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Введите пароль">
                <input asp-for="Password" type="password" class="input100"/>
                <span asp-validation-for="Password" class="focus-input100"></span>
            </div>
			<div class="container-login100-form-btn m-t-17">
				<button type="submit" class="login100-form-btn">Войти</button>
			</div>
		</form>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("ScriptsLoginPartial")