<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/nike" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.instagram.com/adidasrussia/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.reebok.ru" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; НЧИ КФУ</li>
        <li>Design by: <a href="https://vk.com/ruslanzhik">Ибрагимов Руслан</a></li>
    </ul>
</footer>